.header {
  width: 100%;
  background-color: inherit;
  padding: 1vw;
  margin-bottom: 1vw;
  .logo {
    width: 40px;
    height: auto;
    margin-left: 2vw;
    margin-right: 1vw;
  }
  a.header-link {
    color: $secondary-color;
  }
  .navbar-link::after {
    border-color:$secondary-color;
  }
}